.botoes {
    display: flex;
    gap: 1rem;
    justify-content: flex-end; /* Alinha os botões à direita */
    position: relative;
}

button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    font-size: 0.95rem;
    font-weight: 500;
    font-family: var(--font-sans);
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

button:active {
    transform: scale(0.98); /* Efeito de clique sutil */
}

.btn-primary {
    background-color: var(--primary-color);
    color: #ffffff;
}

.btn-secondary {
    background-color: #3b82f6; /* Azul para escolher/opções */
    color: white;
}

.btn-primary:hover {
    background-color: var(--secondary-hover);
}


.btn-secondary:hover {
    background-color: var(--secondary-hover);
}

.btn-tertiary {
    background-color: #3b82f6; /* Azul para escolher/opções */
    color: white;
}

.btn-tertiary:hover {
    background-color: var(--secondary-hover);
}
